@import '../../../../../public/styles/index.scss';

.essentialMain {
  display: flex;
  flex-direction: column;
}

.essentialRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

$colors: (
  'Green': var(--apple),
  'Blue': var(--blue),
  'Red': var(--red),
);

@mixin essential-text($color, $weight) {
  color: $color;
  font-weight: $weight;
  font-family: $Geologica;
}

@mixin metric-text($weight) {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0 !important;
  color: var(--blue);
  font-weight: $weight;
  font-family: $Geologica;
}

@each $name, $color in $colors {
  .essentialTitle#{$name} {
    margin-top: 0.25em !important;
    margin-bottom: 0 !important;
    @include essential-text($color, 400);
    font-size: var(--dynamic-font-size);
  }
  .essentialText#{$name} {
    @include essential-text($color, 600);
    margin-top: 0 !important;
    margin-bottom: 0.5em !important;
    font-size: calc(var(--dynamic-font-size) + 0.125em);
  }
}

._metricLabel {
  @include metric-text(400);
  font-size: var(--dynamic-font-size);
}
._metricValue {
  @include metric-text(600);
  font-size: var(--dynamic-font-size + 0.125em);
}

.essentialGrid {
  display: grid;

  &.firstRow {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 100%;
  }
  &.secondRow {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 100%;
  }
  &.thirdRow {
    grid-template-columns: 9fr 3fr;
    width: 100%;
  }
}

._folderBox {
  margin: 0.25rem 0.5rem;
}

._folderBoxPrimary {
  margin: 0.25rem 1rem 0.25rem 0;
}

._folderBoxFinal {
  margin: 0.25rem 0 0.25rem 1rem;
}

._largeFolderBox {
  margin: 0.25rem 0.5rem 0.25rem 0;
}

._metricContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._metricColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
._metricValueContainer {
  border-right: 0.0313rem solid var(--blue);
  border-top: 0.0313rem solid var(--blue);
}
._lastMetricValueContainer {
  border-right: none;
  border-top: 0.0313rem solid var(--blue);
}

._tooltipText {
  font-size: var(--dynamic-font-size);
  font-weight: 400;
  color: var(--gray);
  font-family: $Geologica;
}

._inputBox {
  margin-bottom: 0.5rem;
}

._boxAlert {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 0.25rem;
}

@mixin _boxAlertText($color) {
  background-color: $color;
  width: 0.9375rem;
  height: 0.875rem;
  padding: 0.75rem !important;
  border-radius: 0.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0 !important;
  margin-bottom: 0.25rem !important;
  font-family: $Geologica;
}

._boxPink {
  @include _boxAlertText(var(--lilac));

  margin-right: 0.25rem !important;
}
._boxRed {
  @include _boxAlertText(var(--red));
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
._boxBlue {
  @include _boxAlertText(var(--blue));

  margin-right: 0.25rem !important;
}

._boxText {
  font-weight: 700;
  color: var(--ivory);
}
