@import '../../../../../public/styles/index.scss';

.essentialMain {
  display: flex;
  flex-direction: column;
}

.essentialRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.essentialTitleGreen {
  @include folderText(var(--apple), 400, 0.625rem);
  margin-top: 0.25rem !important;
}

.essentialTextGreen {
  @include folderText(var(--apple), 600, 0.75rem);
  margin-bottom: 0.5rem !important;
}

.essentialTitleBlue {
  @include folderText(var(--blue), 400, 0.625rem);
  margin-top: 0.25rem !important;
}
.essentialTextBlue {
  @include folderText(var(--blue), 600, 0.75rem);
  margin-bottom: 0.5rem !important;
}

.essentialTitleRed {
  @include folderText(var(--red), 400, 0.625rem);
  margin-top: 0.25rem !important;
}
.essentialTextRed {
  @include folderText(var(--red), 600, 0.75rem);
  margin-bottom: 0.5rem !important;
}

.essentialGrid {
  display: grid;

  &.firstRow {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 100%;
  }
  &.secondRow {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 100%;
  }
  &.thirdRow {
    grid-template-columns: 9fr 3fr;
    width: 100%;
  }
}

._folderBox {
  margin: 0.25rem 0.5rem;
  max-width: 6.75rem;
}

._folderBoxPrimary {
  margin: 0.25rem 1rem 0.25rem 0;
  max-width: 6.75rem;
}

._folderBoxFinal {
  margin: 0.25rem 0 0.25rem 1rem;
  max-width: 6.75rem;
}

._largeFolderBox {
  margin: 0.25rem 0.5rem 0.25rem 0;
  max-width: 21.6875rem;
}

._metricContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._metricColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
._metricValueContainer {
  border-right: 0.0313rem solid var(--blue);
  padding: 0.25rem 0.5rem;
  border-top: 0.0313rem solid var(--blue);
}
._lastMetricValueContainer {
  border-right: none;
  padding: 0.25rem 0.5rem;
  border-top: 0.0313rem solid var(--blue);
}
._metricLabel {
  @include folderText(var(--blue), 400, 0.75rem);
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

._metricValue {
  @include folderText(var(--blue), 600, 0.875rem);
  // margin-top: 0.25rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

._tooltipText {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--gray);
}

._inputBox {
  margin-bottom: 0.5rem;
}
