@import '../../../public/styles/index.scss';

._folderContainer {
  position: relative;
  pointer-events: none;
  height: 100%;
  max-height: 3.4375rem;
  min-height: 3.375rem;
}

._folderContent {
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 90%;
  pointer-events: none;
  margin-left: 0.5rem;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

._infoTooltip {
  position: absolute;
  width: max-content;
  z-index: 9999;
  padding: 0.125rem 0.25rem;
  color: white;
  border-radius: 0.25rem;
  top: -1rem;
  right: -0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.visible {
    opacity: 1;
    background-color: var(--indigo);
    transform: scale(1);
  }
}

.infoContainer {
  position: absolute;
  top: 0.5px;
  right: 0;
  display: flex;
  pointer-events: auto;
}
