@mixin generaltext($size, $weight, $color, $family) {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: $family;
}
