:root {
  --ivory: #f6f5ef;
  --indigo: #102231;
  --blue: #5e83fd;
  --mint: #baf5e1;
  --gray: #d2d1cc;
  --lilac: #eca6fb;
  --yellow: #fffa6c;
  --green: #7de479;
  --red: #f36d64;
  --selago: #e3e9fb /* --font-family: 'Space Grotesk', sans-serif;*/;
}
