@import '../../../../../public/styles/index.scss';

.advancedMain {
  display: flex;
  flex-direction: column;
}

.advancedRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.advancedTitleBlue {
  font-family: $Geologica;
  font-weight: 400;
  color: var(--blue);
  margin-top: 0.25rem !important;
  margin-bottom: 0 !important;
  font-size: var(--dynamic-font-size);
}
.advancedTextBlue {
  font-family: $Geologica;
  font-weight: 600;
  color: var(--blue);
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
  font-size: calc(var(--dynamic-font-size) + 0.125em);
}

.advancedGrid {
  display: grid;

  &.firstRow {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 100%;
  }
  &.secondRow {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 100%;
  }
  &.thirdRow {
    grid-template-columns: 3fr 9fr;
    width: 100%;
  }
}

._folderBox {
  margin: 0.25rem 0.5rem;
}

._folderBoxPrimary {
  margin: 0.25rem 1rem 0.25rem 0;
}

._folderBoxFinal {
  margin: 0.25rem 0 0.25rem 1rem;
}

._advancedLargeFolderBox {
  margin: 0.25rem 0 0.25rem 0.5rem;
}

._advancedMetricContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._advancedMetricColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
._advancedMetricValueContainer {
  border-right: 0.0313rem solid var(--blue);

  border-top: 0.0313rem solid var(--blue);
}
._advancedLastMetricValueContainer {
  border-right: none;

  border-top: 0.0313rem solid var(--blue);
}
._advancedMetricLabel {
  font-family: $Geologica;
  font-size: var(--dynamic-font-size);
  font-weight: 400;
  color: var(--blue);
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

._advancedMetricValue {
  font-family: $Geologica;
  margin: 0 !important;
  font-size: var(--dynamic-font-size + 0.125em);
  font-weight: 600;
  color: var(--blue);

  display: -webkit-box;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

._tooltipText {
  font-size: var(--dynamic-font-size);
  font-weight: 400;
  color: var(--gray);
}

._inputBox {
  margin-bottom: 0.5rem;
}
