@import '../../../../../public/styles/index.scss';

.advancedMain {
  display: flex;
  flex-direction: column;
}

.advancedRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.advancedTitleBlue {
  @include folderText(var(--blue), 400, 0.75rem);

  margin-top: 0.25rem !important;
}
.advancedTextBlue {
  @include folderText(var(--blue), 600, 0.75rem);
  margin-bottom: 0.5rem !important;
}

.advancedGrid {
  display: grid;

  &.firstRow {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 100%;
  }
  &.secondRow {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 100%;
  }
  &.thirdRow {
    grid-template-columns: 3fr 9fr;
    width: 100%;
  }
}

._folderBox {
  margin: 0.25rem 0.5rem;
}

._folderBoxPrimary {
  margin: 0.25rem 1rem 0.25rem 0;
}

._folderBoxFinal {
  margin: 0.25rem 0 0.25rem 1rem;
}

._advancedLargeFolderBox {
  margin: 0.25rem 0 0.25rem 0.5rem;
}

._advancedMetricContainer {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._advancedMetricColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
._advancedMetricValueContainer {
  border-right: 0.0313rem solid var(--blue);
  // padding: 0.25rem 0.5rem;
  border-top: 0.0313rem solid var(--blue);
}
._advancedLastMetricValueContainer {
  border-right: none;
  // padding: 0.125rem 0.25rem;
  border-top: 0.0313rem solid var(--blue);
}
._advancedMetricLabel {
  @include folderText(var(--blue), 400, 0.75rem);
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

._advancedMetricValue {
  @include folderText(var(--blue), 600, 0.875rem);
  // margin-top: 0.25rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

._tooltipText {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--gray);
}

._inputBox {
  margin-bottom: 0.5rem;
}
