@import '../../../public/styles/index.scss';

.dashboardMain {
  background-color: var(--indigo) !important;
  padding: 1rem !important;
}
.logo {
  width: 7.5rem;
  height: 1.4375rem;
}
.boxText {
  @include folderText(var(--blue), 600, 0.75rem);
}

.tooltipText {
  color: var(--selago);
  font-size: 0.3125rem;
  font-weight: medium;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--blue);
  border-radius: 50%;
  padding: 0.25rem;
}

.closeIcon {
  color: var(--indigo);
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dashboardIconsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;

  border-radius: 0.75rem;
  background-color: var(--ivory);
}

.w-1-3 {
  width: 33.33%;
}

.iconHoverEffect {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0.125rem;
  width: 1rem;
  height: 1rem;
  color: var(--blue);
  &:hover {
    background-color: var(--blue);
    border-radius: 50%;
    color: var(--ivory);
  }
}

._accordionSeparation {
  margin: 1rem 0;
}

._largeAccordion {
  border: 0.0625rem solid var(--blue);
  border-radius: 0.5rem;
  width: 100%;
}
