@import '../../../../../public/styles/index.scss';

._feesMain {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
._tableContainer {
  border: 0.5px solid var(--blue);
  border-radius: 0.3125rem;
  overflow: hidden;
  width: 100%;
}

._tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.0313rem solid var(--blue);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

._tableHeader {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

._tableCell {
  flex: 1;
  text-align: left;
  padding: 0.625rem 0.9375rem;
  font-size: 0.75rem;
  color: var(--blue);
}

._tableHeaderCell {
  flex: 1;
  text-align: left;
  padding: 0.625rem 0.9375rem;
  font-size: 0.75rem;
  color: var(--blue);
  font-weight: 400;
}

._tableCell:last-child {
  text-align: right;
  font-weight: 600;
}

._tableRow:last-child {
  border-bottom: none;
}

._tableCell:nth-child(2) {
  text-align: center;
}

._tableHeaderCell:nth-child(2) {
  text-align: center;
}

._tableHeaderCell:last-child {
  text-align: right;
}
